<p id="notice"><%= notice %></p>

<h1>Listing Classes</h1>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Member</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classes.each do |class| %>
      <tr>
        <td><%= class.group %></td>
        <td><%= class.member %></td>
        <td><%= link_to 'Show', class %></td>
        <td><%= link_to 'Edit', edit_class_path(class) %></td>
        <td><%= link_to 'Destroy', class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classe', new_class_path %>
