<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @contact.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contact.description %>
</p>

<p>
  <strong>Member:</strong>
  <%= @contact.member %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
