<%= form_for(@attendence) do |f| %>
  <% if @attendence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendence.errors.count, "error") %> prohibited this attendence from being saved:</h2>

      <ul>
      <% @attendence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :calendar_id %><br>
    <%= f.text_field :calendar_id %>
  </div>
  <div class="field">
    <%= f.label :classe_id %><br>
    <%= f.text_field :classe_id %>
  </div>
  <div class="field">
    <%= f.label :member_id %><br>
    <%= f.text_field :member_id %>
  </div>
  <div class="field">
    <%= f.label :checkin %><br>
    <%= f.number_field :checkin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
